.gs-banner {
	background-color: #3b356e;
	display: table;
	width: 100%;
	height: 300px;
}

.gs-banner-inner  {
	display: table-cell;
	vertical-align: middle;
}


.gs-intro.text-center {
	padding: 10px;
	background-color: white;
	width: 70%;
	margin: -110px auto 0;
	border-radius: 4px;
}

.gs-banner p {
	color: white;
}

.thumbnail {
	width: 100%;
}

a.thumb-vid {
	height: 220px;
	display: table;
	background-color: #9D9AB6;
	width: 100%;
	text-decoration: none;
}

a.thumb-vid span {
	font-size: 25px;
	font-weight: 500;
	color: white;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin: 0;
	word-break: break-word;
	display: table-cell;
	vertical-align: middle;
}

a.thumb-vid span small {
	font-size: 16px;
	font-weight: 400;
}

.video-modal .modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	height: 90vh;
}


.gs-btn {
    /*position: absolute;
    right: 20px;
    top: 123px;
    z-index: 100000;*/
    margin-top: 8px;
  }
  .gs-heading {
  	font-size: 30px;
  	font-weight: 400;
  	letter-spacing: 0px;
  	margin-top: 10px;
  }

  .gs-p {
  	margin-bottom: 100px;
  }








  .responsive-tab-wrapper{
  	margin-top: -100px;
  	margin-bottom: 100px;
  	padding: 15px;
  	background-color: #fff;
  }
  .resp-tabs-container{
  	padding: 10px 30px;

  }    
  .resp-tabs-list {
  	padding: 0;
  }

  .resp-tabs-list i {
  	margin-right: 15px;
  	font-size: 24px;
  }

  .resp-tabs-list li {
  	cursor: pointer;
    border-bottom: solid 1px #e4eae1;
    border-left: 3px solid transparent;
    line-height: 22px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    /* transition: all 0.5s ease; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-family: 'Roboto',Arial,Verdana, sans-serif;
    word-break: break-word;
    list-style: none;
  }
    .resp-tabs-list p {
    	margin: 0;
    }

  .resp-tabs-list li:hover,
  .resp-tabs-list li.resp-tab-active,
  h3.resp-accordion:hover {
  	background-color: #ffffff;
  	/* border-bottom: 1px solid #BFE1B1; */
  	border-left: solid 3px #3b356e;

  }


  h3.resp-tab-active,
  h3.resp-tab-active:hover {
  	border-bottom: 1px solid #e7edee;
  }

  h3.resp-accordion {
  	cursor: pointer;
  	font-size: 18px;
  	display: none;
  	font-weight: 300;
  	border-bottom: 1px solid #e7edee;
  	margin: 0;
  	line-height: 66px;
  	transition: all 0.7s ease;
  	-webkit-transition: all 0.7s ease;
  	-moz-transition: all 0.7s ease;
  	-o-transition: all 0.7s ease;
  }

  h3.resp-accordion:hover {}

  .resp-tab-content {
  	display: none;
  }

  .resp-content-active,
  .resp-accordion-active {
  	display: block;
  }

.prod-tab-content h4 {
    font-family: 'Roboto' !important;
    margin-bottom: 25px;
    letter-spacing: 0px !important;
    font-size: 25px;
}

  /*-----------Vertical tabs-----------*/
  .resp-arrow {
  	width: 0;
  	height: 0;
  	float: right;
  	margin-top: 27px;
  	margin-right: 15px;
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-top: 7px solid;
  }

  h3.resp-tab-active span.resp-arrow {
  	border: none;
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-bottom: 7px solid;
  }

  /*-----------Accordion styles-----------*/
  h3.resp-tab-active {
  	background: #f1f1f1;
  	/* !important;*/
  	border-color: #d3efc8;
  }

  .resp-easy-accordion h3.resp-accordion {
  	display: block;
  }

  .resp-jfit {
  	width: 100%;
  	margin: 0px;
  }

  .resp-tab-content-active {
  	display: block;
  	background: #f1f1f1;
  	padding: 0 25px 25px;
  }

  .prod-tab-content img{
  	width: 300px;
  	float: right;
  }

  /*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
  @media only screen and (max-width: 980px) {
  	ul.resp-tabs-list {
  		display: none;
  	}

  	h3.resp-accordion {
  		display: block;
  		padding-left: 25px;
  	}

  	.prod-tab-content h4 {
  		display: none;
  	}

  	.resp-tabs-container {
    padding: 10px 10px;
	}

  	.resp-accordion p {
  		margin: 0;
  	}
  	.resp-accordion-closed {
  		display: none !important;
  	}
  	.prod-tab-content{
  		padding: 10px;
  	}
  }