#home-banner .search-cont{
	width: 60%;
	margin: 0 auto;
}

#home-banner .search-cont .main-search{
	width: 60%;
	position: absolute;
	top: 55%;
}

div#home-banner ol.flex-control-nav.flex-control-paging {
	bottom: 10px;
}

.banner-cont {
    position: absolute;
    z-index: 1;
    color: #fff;
    width: 60%;
    top: 10%;
}

.banner-cont h1{
	font-family: 'Roboto' !important;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 20px;
}
.banner-cont h3{
	font-family: 'Roboto' !important;
	font-weight: 500;
	margin-top: 10px;
}

.home-news h4 {
	margin-bottom: 0;
}

.home-news p {
	margin-top: 15px;
}

.home-panel {
border: none;
}

.home-panel h4{
/*font-size: 16px;
margin-top: 5px;
margin-bottom: 5px;*/
}

.home-panel h3 {
  margin: 0;
}

.home-panel p{
margin-bottom: 5px;
}

.home-panel .alert {
padding: 10px;
margin-bottom: 5px;
}

.home-panel .img-cont {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	text-align: center;
	overflow: hidden;
}

.home-panel .img-cont img {
	height: 100%;

}

.home-feat-seller {
	display: block !important;
	cursor: pointer !important;
}

.home-feat-seller .img-fs-desc p{
	cursor: pointer !important;
}

.home-feat-seller .img-fs-cont {
	height: 60px;
	text-align: center;
}

.home-feat-seller .img-fs-cont img {
	height: 100%;
	margin: 0 auto;
}


.home-auc-item {
    background-color: #f5f5f5;
    color: #555;
    padding: 15px 15px;
    border-radius: 4px;
    display: block !important;
    transition: 0.2s;
    margin-bottom: 5px;
}

.home-auc-item:hover {
    background-color: #f1f1f1;
    transition: 0.2s;
    color: #555;
}

.home-auc-item:active, .home-auc-item:focus {
  background-color: #f5f5f5;
  color: #555;
}

.home-auc-item h5,
.home-auc-item p {
  margin: 0;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
}

.home-auc-item .checkbox {
	margin: 0;
	display: inline-block;
	margin-right: 10px;
	border-right: 1px solid grey;
	padding-right: 15px;
}





.MultiCarousel .thumbnail {
	padding: 0;
	border-radius: 10px;
	background-color: #f6f6f6;
}

.MultiCarousel .thumbnail img{
	border-radius: 10px 10px 0 0;
}

.MultiCarousel { 
	float: left; 
	overflow: hidden; 
	padding: 0 15px; 
	width: 100%; 
	position:relative; 
}
.MultiCarousel .MultiCarousel-inner { 
	transition: 1s ease all; 
	float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
	float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div { 
	text-align: center; 
	padding:0px; 
	margin:10px; 
	/*background:#f1f1f1; */
	color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
	position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
    font-size: 20px;
    width: 44px;
    height: 44px;
}
.MultiCarousel .leftLst { 
	left:0; 
}
.MultiCarousel .rightLst { 
	right:0; 
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
	pointer-events: none;
    background: #ccc;
    border-color: #ccc;
    opacity: 0.5;
}

/*NEW HOME*/
/*NEW HOME*/
/*NEW HOME*/
/*NEW HOME*/
/*NEW HOME*/

.new-home .background-carousel {
	z-index: 0 !important;
}

.center-container {
     padding: 0 !important; 
    background: rgba(0, 0, 0, 0.44);
    height: 80vh;
    min-height: 500px;
}

.new-home .banner.home {
	position: absolute;
  top: 70px;
  z-index: 1000;
}

