body {
margin-bottom: 0;
    padding-bottom: 175px;
/*    position: relative;*/
}

section.banner {
	width: 100%;
	position: relative;
	min-height: 80vh;
	/*background: url('https://media.istockphoto.com/photos/dealer-new-cars-stock-picture-id480652712?s=2048x2048') no-repeat 0 50%;*/
	background-size: cover;
    display: table;
}

#background-carousel{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}

/*section.banner:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    background-color:rgba(0,0,0,.68);

}*/


section.banner > .banner-inner {
    display: table-cell;
    vertical-align: middle;
}

section.home-section.two {
	background-color: #fff;
	z-index: 5;
}

section.home-section.two h4 {
    padding: 10px;
    margin: 0;
    border-radius: 0 0 4px 4px;
    display: inline-block;
}

section.home-section.three {
	padding: 100px 0;
	background-color: #f7f7f7;
}

section.home-section.three iframe{

}

section.demo {
background-image: url('../images/demo-04.png');
background-repeat: no-repeat;
background-position: -30% 50%;
background-size: 60%;
background-color: #222;
padding: 50px 0;
}

section.home-section.four {
    background-color: #fdfdfd;
    padding: 110px 0 110px;
}

.home-section.five {
    position: relative;
    min-height: 80vh;
    background: url('https://media.istockphoto.com/photos/salesmans-hands-giving-key-picture-id486827324?s=2048x2048') no-repeat 0 50%;

    background-size: cover;
}

section.home-section.five:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    /*background-color:rgba(26,26,26,.91);*/
}

section.home-section.five .section-content {
    z-index: 5000;
}

section.home p {
    font-weight: 300;
}

/*section.home h2.section-header {
    *border-bottom: 4px solid #f3bb19;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 800;
}*/

section.home-section.light-p.home {
    background-color: #9D9AB6;
    color: white;
    padding: 60px 0;
}

section.home-section.dark-p.home {
    background-color: #625D8B;
    color: white;
    padding: 60px 0;
}

.p-header {
    font-family: 'Roboto' !important;
    font-weight: 800 !important;
    letter-spacing: -0.6px !important;
    line-height: 1.3;
}

.section-header:after {
    content: ' ';
    background-color: #f3bb19;
    height: 4px;
    font-size: 40px;
    width: 100px;
    display: block;
    margin: 21px auto;
}


.home-img-cont {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.home-img-cont img {
    height: 100%;
    width: auto !important;
    object-fit: cover;
}

/*CAROUSEL*/
/*CAROUSEL*/
/*CAROUSEL*/
/*CAROUSEL*/
.carousel,
.carousel-inner {
  width:100%;
  height:100%;
  z-index:0;
  overflow:hidden;
}
.item {
  width:100%;
  height:100%;
  background-position: center center;
  background-size:cover;
  z-index:0;
}
 
#content-wrapper {
  position:relative;
  z-index:1 !important;
  min-width:100%;
  min-height:100%;
}

#background-carousel{
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
}

.carousel-inner .item {
  max-height: 80vh;
  padding-top: 60px;
}

#background-carousel .carousel .item > .container {
 display: table;
 vertical-align: middle;
 height: 80%;
}

#background-carousel .carousel .item > .container > h1 {
 display: table-cell;
 vertical-align: middle;
 height: 80%;
font-size: 80px;
/*padding: 100px 0 0;*/
    font-family: 'Anton' !important;
    vertical-align: middle;
    color: white;
}

/*CAROUSEL*/
/*CAROUSEL*/
/*CAROUSEL*/
/*CAROUSEL*/

.home-section p {
    line-height: 2;
    font-size: 16px;
}

nav#home-nav {
	background-color: transparent;
	border: none;
}

nav#home-nav ul > li > a {
	color: white;
	font-weight: 300;
  letter-spacing: 0.5px;
}

nav#home-nav .navbar-header .navbar-brand {
color: white;
}

nav#home-nav ul.nav.navbar-nav li.active a {
    background-color: transparent !important;
    color: #f0ad4e !important;
}

.login-container h4 {
    color: #625D8B;
    margin-bottom: 20px;
    text-align: left;
}

.login-container {
    background-color: #ffffff;
    padding: 20px 30px 20px;
    border-radius: 4px;
}

.login-container .checkbox {
    margin: 20px 0;
}

section.banner h1 {
  font-family: 'Anton' !important;
    color: #fff;
    font-size: 80px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    letter-spacing: 2px !important;
    line-height: 100px;
    font-weight: lighter;
}

section.home-section.two .home-panel {
    position: relative;
    padding-bottom: 10px;
}

section.home-section.two .home-panel h4 {
margin-top: -20px;
    background-color: #333;
    border-radius: 4px;
    display: inline-block;
    color: white;
    position: absolute;
    padding: 8px 12px;
    font-size: 14px;
}

.home-feat-seller {
	display: block !important;
	cursor: pointer !important;
}

.home-feat-seller .img-fs-desc p{
	cursor: pointer !important;
}

.home-feat-seller .img-fs-cont {
	height: 70px;
	text-align: center;
}

.home-feat-seller .img-fs-cont img {
	height: 100%;
	margin: 0 auto;
}

.section-content {
    padding: 50px 0px 80px;
    /*width: 80%;*/
    margin: 0 auto;
}

.section-content h1{
	margin-bottom: 20px;
}

nav.navbar.home .navbar-right {
    margin: 15px;
}

nav.navbar.home .navbar-right li:first-child button {
    margin-right: 10px;
}

/*.section-content p{
	color: #999;
	font-weight: 300;
	line-height: 2;
}*/

.banner-content h1 {
  font-weight: 300;
}

.banner-content  {
    padding-top: 20px;
}

.banner-content button {
/*    padding: 20px 30px;*/
}

.banner-content button h2 {
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    font-family: 'Roboto' !important;
    letter-spacing: 1.5px !important;
    cursor: pointer;
}

.bottom-banner.text-center {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background-color: #00000070;
    border-top: 1px solid;
    z-index: 2;
}

.bottom-banner.text-center h2 {
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto' !important;
    letter-spacing: 1px !important;
    margin: 0;
    font-size: 35px;

}

footer.footer-home {
	position: absolute;
    bottom: 0;
    height: 140px;
    width: 100%;
}

.footer-content {
	height: 100%;
	background-color: #333;
	padding-bottom: 30px;
}

.footer-content a i {
    font-size: 30px;
    padding: 30px 20px;
	transition: 0.2s;
}

.footer-content a i:hover {
	color: #3e9bd3;
	transition: 0.2s;
}

.footer-content p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.5px;
  color: #ffffff63;

}

.footer-content p a{
	padding: 0 10px;
	transition: 0.2s;
}

.footer-content p a:hover{
	color: #3e9bd3;
	transition: 0.2s;
}

.members-list {
    position: relative;
    padding: 10px 0;
}

.members-list ul {
    text-align: center;
    margin: 0;
}

.members-list ul li {
    width: 10%;
    display: inline-block;
    margin-right: 15px;
}

.members-list ul li img {
    width: 100%;
}

.ml-nav {
    width: 100%;
    position: absolute;
    margin: 15px 0;

}

.ml-nav a {
    font-size: 25px;
}

.ml-nav a.right {
    float: right;
}


/*@media (max-width: 1500px) {
  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 7 0vh;
    object-fit: cover;
  }
} */


/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */

/* Slider */
.slick-slide {
    margin: 0px 20px;
}

div.slick-slide {
    display: table;
    height: 100px;
    vertical-align: middle;
}

.slick-slide img {
     display: table-cell; 
     vertical-align: middle !important; 
    min-height: 100px !important;
    object-fit: contain;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */
/*LOGO CAROUSEL */