.wthru .label, .wthru a {
	font-size: 14px;
	font-weight: 300;
}

.wthru-row .label {
    margin-right: 20px;
    width: 80px;
    position: relative;
    display: inline-block;
}

.wthru-row {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
    margin-bottom: 5px;
}